<!DOCTYPE html>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="estilos.css">
</head>
<body>
    <header>
        <h1>My página web</h1>
    </header>
    <nav>
        <a href="">Home</a>
        <a href="">Noticias</a>
        <a href="">Contacto</a>
        <a href="">Sobre mi</a>
    </nav>
    <div class="row">
        <aside>
            <h2>Aside</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus rerum quisquam pariatur sed ipsa, fuga adipisci eveniet, ut nobis sint accusamus, eos odit officiis voluptatum facere eaque numquam eum quos!
            Exercitationem beatae cumque quod quibusdam est facere ipsam. Accusamus, repudiandae officia culpa natus omnis in exercitationem dolore laborum aperiam qui alias vero labore ab voluptates totam voluptate,</p>
        </aside>
        <section>
            <h2>Section</h2>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum, quam excepturi! Est repellat possimus libero unde rem quo dolor necessitatibus praesentium aliquam repudiandae! Excepturi incidunt voluptas modi reiciendis dolor ad!
            Eveniet, eos, praesentium veniam aut odit voluptatibus recusandae alias natus ducimus itaque debitis necessitatibus, ipsum aliquam autem ad? Possimus harum obcaecati veritatis quidem. Sequi, optio. Quam, facere laboriosam? Vel, in!
            Aut saepe ut voluptatibus quos excepturi beatae ad natus repellendus inventore, totam provident mollitia assumenda molestias dolores et alias. Labore in minima natus neque quia reprehenderit, consectetur optio doloremque iste.
            Tempore voluptates voluptatem vero iusto cumque consectetur numquam, vel cum at? Harum voluptas quos modi similique impedit recusandae, blanditiis deserunt possimus, aut obcaecati totam cupiditate aliquid sint facilis, doloribus maxime.
        </section>
    </div> 
    <footer>
        <h2>Footer</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam exercitationem minima sequi ullam corporis perspiciatis vero illo harum fugit blanditiis suscipit ipsum necessitatibus reiciendis soluta accusantium nostrum,.</p>
    </footer>
</body>
</html>